<header>
    <div class="header-inner">
        <div class="logo">
            <a href="#">
                <i class="icon-logo-h"></i>
            </a>
        </div>
        <div class="global-nav">
            <ul>
                <li>
                    <a href="//bugtags.io">
                        <i class="icon-dashboard"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="//bugtags.io/pricing.html">
                        <i class="icon-enterprise"></i>
                        <span>Pricing</span>
                    </a>
                </li>
                <li>
                    <a href="/start/">
                        <i class="fa icon-download"></i>
                        <span>SDK</span>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon-help"></i>
                        <span>Documentation</span>
                    </a>
                </li>
                <li class="register">
                    <a href="//work.bugtags.io/signup.html">
                        <i class="icon-user"></i>
                        <span>Sign Up</span>
                    </a>
                </li>
                <li class="log">
                    <a href="//work.bugtags.io/signin.html">
                        <i class="icon-user"></i>
                        <span>Sign In</span>
                    </a>
                </li>
                <li class="user" style="display: none"></li>
            </ul>
        </div>
    </div>
</header>
