.clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

*{
    font-family: Open Sans, sans-serif;
}

body{
}

pre{
    border: 1px solid #ccc !important;
    border-radius: 4px;
}

p code, li>code{
    font-weight:bold;
    color:#a52a2a !important;
}

@main-color: #007feb;
@white: #fff;
