* {
  font-family: Open Sans, sans-serif;
}
pre {
  border: 1px solid #ccc;
  border-radius: 4px;
}
p code {
  font-weight: bold;
  color: #a52a2a;
}
@font-face {
  font-family: 'icomoon';
  src: url('https://static.bugtags.io/home/fonts/icomoon.eot?jmoxvs');
  src: url('https://static.bugtags.io/home/fonts/icomoon.eot?#iefixjmoxvs') format('embedded-opentype'), url('https://static.bugtags.io/home/fonts/icomoon.ttf?jmoxvs') format('truetype'), url('https://static.bugtags.io/home/fonts/icomoon.woff?jmoxvs') format('woff'), url('https://static.bugtags.io/home/fonts/icomoon.svg?jmoxvs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-logo-h:before {
  content: "\e904";
}
.icon-feature:before {
  content: "\e908";
}
.icon-linkedin:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-stackoverflow:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-location:before {
  content: "\e932";
}
.icon-feedback:before {
  content: "\e93d";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90c";
}
.icon-users:before {
  content: "\e914";
}
.icon-help:before {
  content: "\e920";
}
.icon-js-sdk:before {
  content: "\e902";
}
.icon-qrcode:before {
  content: "\e95f";
}
.icon-enterprise:before {
  content: "\e973";
}
.icon-firefox:before {
  content: "\e901";
}
.icon-opera:before {
  content: "\e968";
}
.icon-chrome:before {
  content: "\e959";
}
.icon-safari:before {
  content: "\e95a";
}
.icon-android:before {
  content: "\e957";
}
.icon-apple:before {
  content: "\e947";
}
.icon-web:before {
  content: "\e94c";
}
.icon-up:before {
  content: "\e943";
}
.icon-down:before {
  content: "\e948";
}
.icon-left:before {
  content: "\e94d";
}
.icon-right:before {
  content: "\e952";
}
.icon-check:before {
  content: "\e92e";
}
.icon-success:before {
  content: "\e945";
}
.icon-close:before {
  content: "\e900";
}
.icon-error:before {
  content: "\e94a";
}
.icon-download:before {
  content: "\e93f";
}
.icon-search:before {
  content: "\e940";
}
.icon-dashboard:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e90d";
}
.icon-git-hub:before {
  content: "\e603";
}
.icon-logo:before {
  content: "\e600";
}
.icon-player:before {
  content: "\e97a";
}
.body-wrapper {
  width: 100%;
  height: 100%;
}
header {
  background: #007feb;
  color: #fff;
}
header .header-inner {
  width: 100%;
  padding: 0 10px;
  margin: auto;
  *zoom: 1;
}
header .header-inner:before,
header .header-inner:after {
  content: " ";
  display: table;
  line-height: 0;
}
header .header-inner:after {
  clear: both;
}
header .header-inner .logo {
  float: left;
}
header .header-inner .logo a {
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
header .header-inner .logo a i {
  font-size: 26px;
  color: #fff;
  margin-top: 12px;
  display: inline-block;
}
header .header-inner .global-nav {
  float: right;
}
header .header-inner .global-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header .header-inner .global-nav ul li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
}
header .header-inner .global-nav ul li a {
  font-size: 14px;
  padding-bottom: 3px;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: border .6s;
}
header .header-inner .global-nav ul li a i {
  display: none;
}
header .header-inner .global-nav ul li a img {
  height: 19px;
  top: 5px;
  position: relative;
  right: 3px;
}
header .header-inner .global-nav ul li a:hover {
  border-bottom: 1px solid #eee;
  transition: border .6s;
}
@media (max-width: 525px) {
  header .header-inner .global-nav ul li a i {
    display: inline-block;
    position: relative;
    top: 3px;
    font-size: 16px;
  }
  header .header-inner .global-nav ul li a span {
    display: none;
  }
}
.book-summary .thanks {
  font-size: 11px;
  text-align: left;
  padding: 30px 0 30px 15px;
  color: #aaa;
}
.book-summary .thanks a {
  color: #888;
  text-decoration: underline;
}
.book-summary .thanks .logo {
  text-align: left;
  margin-bottom: 12px;
}
.book-summary .thanks .logo a {
  text-decoration: none;
  display: inline-block;
}
.book-summary .thanks .logo a i {
  font-size: 20px;
  color: #007feb;
}
.book-summary .thanks .logo a.gitbook {
  position: relative;
  font-size: 15px;
  top: -3px;
}
.book-summary .thanks .logo a.gitbook img {
  width: 20px;
  position: relative;
  top: 4px;
}
.comments-area {
  margin-top: 50px;
}
